SmsFeedback_EFModels/bin/*
SmsFeedback_EFModels/obj/*
SmsFeedback_EFModels/bin/*
SmsFeedback_Take4/bin/*
SmsFeedback_Take4/obj/*
SmsFeedbackTest/bin/*
SmsFeedbackTest/obj/*
SmsFeedback_Take4.v11.suo
Local.testsettings
*.suo
SmsFeedback_Take4.v11.suo
mobile.TxtFeedback_take1/bin/*.*
mobile.TxtFeedback_take1/obj/*
mobile.TxtFeedback_take1/mylogfile.txt
mobile.TxtFeedback_take1/mylogfile.txt
mobile.TxtFeedback_take1/mylogfile.*
mobile.TxtFeedback_take1/mylogfile.txt
mobile.TxtFeedback_take1/bin/*.*
Moderator/bin/*.*
Moderator/bin/log/db/Database.class
Moderator/bin/*
mobile.TxtFeedback_take1/bin/
Debug/
Release/
bin/

