<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp://cluj-info.com/cluj-info.com/wwwroot/smsfeedback/</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>b_mihai10</UserName>
    <SavePWD>True</SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/crossdomain.xml">
      <publishTime>06/19/2011 17:38:07</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>05/30/2012 19:03:38</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>05/30/2012 19:03:38</publishTime>
    </File>
    <File Include="bin/JWT.dll">
      <publishTime>05/30/2012 20:33:32</publishTime>
    </File>
    <File Include="bin/log4net.dll">
      <publishTime>10/06/2011 19:44:20</publishTime>
    </File>
    <File Include="bin/log4net.xml">
      <publishTime>10/06/2011 19:44:20</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.xml">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/Mvc.Mailer.dll">
      <publishTime>05/30/2012 19:04:36</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>06/27/2012 18:16:31</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>06/27/2012 18:16:31</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>12/20/2010 12:37:28</publishTime>
    </File>
    <File Include="bin/RestSharp.dll">
      <publishTime>05/30/2012 18:33:10</publishTime>
    </File>
    <File Include="bin/RestSharp.xml">
      <publishTime>05/30/2012 18:33:10</publishTime>
    </File>
    <File Include="bin/ro/SmsFeedback_Take4.resources.dll">
      <publishTime>07/11/2012 15:39:42</publishTime>
    </File>
    <File Include="bin/SmsFeedback_EFModels.dll">
      <publishTime>07/11/2012 15:39:41</publishTime>
    </File>
    <File Include="bin/SmsFeedback_EFModels.pdb">
      <publishTime>07/11/2012 15:39:41</publishTime>
    </File>
    <File Include="bin/SmsFeedback_Take4.dll">
      <publishTime>07/11/2012 15:39:42</publishTime>
    </File>
    <File Include="bin/SmsFeedback_Take4.pdb">
      <publishTime>07/11/2012 15:39:42</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>12/01/2011 16:06:04</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/05/2011 16:42:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>12/01/2011 15:25:34</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>05/30/2012 20:27:23</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>12/01/2011 16:06:04</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>12/01/2011 16:06:04</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>12/01/2011 16:06:04</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>12/01/2011 16:06:04</publishTime>
    </File>
    <File Include="bin/Twilio.Api.dll">
      <publishTime>06/19/2012 13:47:44</publishTime>
    </File>
    <File Include="bin/Twilio.Api.pdb">
      <publishTime>06/19/2012 13:47:44</publishTime>
    </File>
    <File Include="bin/Twilio.Api.xml">
      <publishTime>06/19/2012 13:47:44</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.dll">
      <publishTime>05/30/2012 20:33:32</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.pdb">
      <publishTime>05/30/2012 20:33:32</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.xml">
      <publishTime>05/30/2012 20:33:32</publishTime>
    </File>
    <File Include="bin/TwilioSharp.dll">
      <publishTime>05/30/2012 20:32:03</publishTime>
    </File>
    <File Include="bin/TwilioSharp.MVC3.dll">
      <publishTime>05/30/2012 20:32:03</publishTime>
    </File>
    <File Include="bin/TwilioSharp.MVC3.pdb">
      <publishTime>05/30/2012 20:32:03</publishTime>
    </File>
    <File Include="bin/TwilioSharp.pdb">
      <publishTime>05/30/2012 20:32:03</publishTime>
    </File>
    <File Include="Content/close14x14.png">
      <publishTime>04/13/2012 11:30:37</publishTime>
    </File>
    <File Include="Content/contact.css">
      <publishTime>05/17/2012 14:01:43</publishTime>
    </File>
    <File Include="Content/conversations.css">
      <publishTime>06/25/2012 16:25:17</publishTime>
    </File>
    <File Include="Content/delete.ico">
      <publishTime>04/11/2012 16:09:52</publishTime>
    </File>
    <File Include="Content/filtersStrip.css">
      <publishTime>07/10/2012 20:26:37</publishTime>
    </File>
    <File Include="Content/grid.css">
      <publishTime>06/18/2012 17:25:17</publishTime>
    </File>
    <File Include="Content/images/06-web-2.png">
      <publishTime>06/06/2012 10:06:52</publishTime>
    </File>
    <File Include="Content/images/check-grey.svg">
      <publishTime>06/13/2012 16:35:16</publishTime>
    </File>
    <File Include="Content/images/check-white.svg">
      <publishTime>06/13/2012 16:35:28</publishTime>
    </File>
    <File Include="Content/images/checkbox_checked.png">
      <publishTime>06/13/2012 14:58:34</publishTime>
    </File>
    <File Include="Content/images/checkbox_unchecked.png">
      <publishTime>06/13/2012 14:57:54</publishTime>
    </File>
    <File Include="Content/images/close14x14.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/images/delete.ico">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/images/exclamationMark.jpg">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/images/exclamationMark.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/images/loading.gif">
      <publishTime>11/05/2010 08:11:48</publishTime>
    </File>
    <File Include="Content/images/logo1.png">
      <publishTime>05/17/2012 15:50:56</publishTime>
    </File>
    <File Include="Content/images/mail.png">
      <publishTime>07/09/2012 17:31:49</publishTime>
    </File>
    <File Include="Content/images/star-selected.svg">
      <publishTime>07/10/2012 10:41:37</publishTime>
    </File>
    <File Include="Content/images/star.svg">
      <publishTime>07/10/2012 10:40:41</publishTime>
    </File>
    <File Include="Content/images/transparent.gif">
      <publishTime>06/26/2012 15:08:33</publishTime>
    </File>
    <File Include="Content/jquery.tagsinput.css">
      <publishTime>06/26/2012 16:37:51</publishTime>
    </File>
    <File Include="Content/layout.css">
      <publishTime>06/13/2012 18:59:20</publishTime>
    </File>
    <File Include="Content/messages.css">
      <publishTime>07/10/2012 13:49:17</publishTime>
    </File>
    <File Include="Content/nav.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/phonenumbers.css">
      <publishTime>07/03/2012 13:45:51</publishTime>
    </File>
    <File Include="Content/reset.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>07/10/2012 20:28:31</publishTime>
    </File>
    <File Include="Content/tags.css">
      <publishTime>07/11/2012 14:17:37</publishTime>
    </File>
    <File Include="Content/TestLayout.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/text.css">
      <publishTime>06/21/2012 17:27:48</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>06/20/2012 18:02:43</publishTime>
    </File>
    <File Include="crossdomain.xml">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="InstallationDummyFile.txt">
      <publishTime>05/14/2012 12:03:09</publishTime>
    </File>
    <File Include="MyScripts/contact.js">
      <publishTime>05/24/2012 13:59:12</publishTime>
    </File>
    <File Include="MyScripts/Conversations.js">
      <publishTime>07/10/2012 16:10:44</publishTime>
    </File>
    <File Include="MyScripts/ConversationTags.js">
      <publishTime>07/11/2012 13:27:44</publishTime>
    </File>
    <File Include="MyScripts/Facade.js">
      <publishTime>07/11/2012 15:39:28</publishTime>
    </File>
    <File Include="MyScripts/Filtering.js">
      <publishTime>07/04/2012 20:43:51</publishTime>
    </File>
    <File Include="MyScripts/Messages.js">
      <publishTime>07/11/2012 15:35:01</publishTime>
    </File>
    <File Include="MyScripts/PhoneNumbers.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="MyScripts/Utilities.js">
      <publishTime>07/09/2012 12:27:00</publishTime>
    </File>
    <File Include="MyScripts/WorkingPoints.js">
      <publishTime>07/10/2012 13:46:38</publishTime>
    </File>
    <File Include="MyScripts/XMPP.js">
      <publishTime>06/18/2012 18:34:43</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/27/2012 18:16:32</publishTime>
    </File>
    <File Include="Scripts/execute.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/flxhr/flXHR.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/flxhr/strophe.flxhr.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.cookie.js">
      <publishTime>06/06/2012 12:35:00</publishTime>
    </File>
    <File Include="Scripts/jquery.simplemodal.js">
      <publishTime>05/14/2012 16:53:12</publishTime>
    </File>
    <File Include="Scripts/jquery.tagsinput.js">
      <publishTime>07/09/2012 10:48:08</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/Messages.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/spin.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Scripts/splitter.js">
      <publishTime>06/06/2012 12:24:19</publishTime>
    </File>
    <File Include="Scripts/strophe/strophe.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Services/Conversations.svc">
      <publishTime>05/09/2012 18:22:40</publishTime>
    </File>
    <File Include="Templates/PhoneTemplates.txt">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/BackboneTutorial.html">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/custom.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/jquery-1.6.2.js">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/JQueryTutorial.html">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/screen.css">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/starterkit.html">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Tutorials/TestLayout.html">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Account/LogOn.aspx">
      <publishTime>06/11/2012 16:48:29</publishTime>
    </File>
    <File Include="Views/Account/Register.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/EmailSend/GetEmailMessageForm.aspx">
      <publishTime>05/17/2012 13:53:01</publishTime>
    </File>
    <File Include="Views/EmailSend/Index.ascx">
      <publishTime>05/14/2012 19:42:27</publishTime>
    </File>
    <File Include="Views/Home/About.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Home/Index.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Messages/Index.aspx">
      <publishTime>07/11/2012 13:31:09</publishTime>
    </File>
    <File Include="Views/Messages/MyMessages.ascx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Messages/TstView.ascx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Shared/Error.aspx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Shared/LogOnUserControl.ascx">
      <publishTime>05/09/2012 15:10:44</publishTime>
    </File>
    <File Include="Views/Shared/Site.Master">
      <publishTime>06/27/2012 10:59:21</publishTime>
    </File>
    <File Include="Views/UserMailer/Welcome.aspx">
      <publishTime>05/18/2012 14:54:20</publishTime>
    </File>
    <File Include="Views/UserMailer/_Layout.Master">
      <publishTime>05/18/2012 15:41:11</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/14/2012 11:32:22</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/11/2012 15:39:45</publishTime>
    </File>
  </ItemGroup>
</Project>