<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp://cluj-info.com/cluj-info.com/wwwroot/smsfeedback/</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>b_mihai10</UserName>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/blowery.Web.HttpCompress.dll">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="bin/de/SmsFeedback_Take4.resources.dll">
      <publishTime>08/13/2012 19:39:01</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/ICSharpCode.SharpZipLib.dll">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="bin/JWT.dll">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/log4net.dll">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/log4net.xml">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>04/09/2012 12:55:46</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.xml">
      <publishTime>04/09/2012 12:55:46</publishTime>
    </File>
    <File Include="bin/Mvc.Mailer.dll">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Nexmo-CSharp-lib.dll">
      <publishTime>08/02/2012 18:45:39</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>12/20/2010 12:37:28</publishTime>
    </File>
    <File Include="bin/RestSharp.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/RestSharp.xml">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/ro/SmsFeedback_Take4.resources.dll">
      <publishTime>08/13/2012 19:39:02</publishTime>
    </File>
    <File Include="bin/SmsFeedback_EFModels.dll">
      <publishTime>08/10/2012 14:58:52</publishTime>
    </File>
    <File Include="bin/SmsFeedback_EFModels.pdb">
      <publishTime>08/10/2012 14:58:52</publishTime>
    </File>
    <File Include="bin/SmsFeedback_Take4.dll">
      <publishTime>08/13/2012 19:39:01</publishTime>
    </File>
    <File Include="bin/SmsFeedback_Take4.pdb">
      <publishTime>08/13/2012 19:39:01</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>05/05/2012 03:15:28</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>05/05/2012 03:14:26</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>04/09/2012 12:55:48</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>04/09/2012 12:55:48</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>07/20/2011 10:06:04</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>05/05/2012 03:14:26</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>04/09/2012 12:55:48</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/05/2011 16:42:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>06/13/2011 13:41:48</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>07/20/2011 10:06:02</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>07/20/2011 10:06:02</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>01/05/2011 14:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>07/20/2011 10:06:02</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>07/20/2011 10:06:02</publishTime>
    </File>
    <File Include="bin/Twilio.Api.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Twilio.Api.pdb">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Twilio.Api.xml">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.pdb">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/Twilio.Client.Capability.xml">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/TwilioSharp.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/TwilioSharp.MVC3.dll">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/TwilioSharp.MVC3.pdb">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="bin/TwilioSharp.pdb">
      <publishTime>07/17/2012 09:44:05</publishTime>
    </File>
    <File Include="Content/contact.css">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/conversations.css">
      <publishTime>07/26/2012 15:03:14</publishTime>
    </File>
    <File Include="Content/conversations_mb.css">
      <publishTime>07/26/2012 14:16:07</publishTime>
    </File>
    <File Include="Content/css/datepicker/datepicker.css">
      <publishTime>07/31/2012 13:45:28</publishTime>
    </File>
    <File Include="Content/css/datepicker/layout.css">
      <publishTime>08/03/2012 16:31:55</publishTime>
    </File>
    <File Include="Content/css/help.css">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/css/reports.css">
      <publishTime>08/10/2012 12:12:56</publishTime>
    </File>
    <File Include="Content/css/settings.css">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/filtersStrip.css">
      <publishTime>08/09/2012 17:02:04</publishTime>
    </File>
    <File Include="Content/grid.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/06-web-2.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/check-grey.svg">
      <publishTime>06/13/2012 16:35:16</publishTime>
    </File>
    <File Include="Content/images/check-white.svg">
      <publishTime>06/13/2012 16:35:28</publishTime>
    </File>
    <File Include="Content/images/checkbox_checked.png">
      <publishTime>07/18/2012 16:58:54</publishTime>
    </File>
    <File Include="Content/images/checkbox_unchecked.png">
      <publishTime>07/18/2012 16:58:54</publishTime>
    </File>
    <File Include="Content/images/close14x14.png">
      <publishTime>07/18/2012 16:58:54</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_b.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_bl.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_br.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_l.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_r.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_t.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_tl.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/custom_tr.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_b.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_bl.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_br.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_l.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_r.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_t.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_tl.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/datepicker_tr.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/datepicker/field.png">
      <publishTime>07/31/2012 11:27:11</publishTime>
    </File>
    <File Include="Content/images/delete.ico">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/De_flag.png">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/images/exclamation-blue.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/exclamation-green.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/exclamation-orange.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/exclamationMark.jpg">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/exclamationMark.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/loading.gif">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/loginImage.png">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/logo.png">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/logo1.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/mail.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/question-blue.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/question-green.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/question-orange.svg">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/Ro_flag.png">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/images/Smiley-Happy-32.png">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/images/Smiley-Sad-32.png">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/images/star-selected.svg">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/star-selected_orange.svg">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Content/images/star.svg">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/transparent.gif">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/images/Uk_flag.png">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Content/jquery.tagsinput.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/layout.css">
      <publishTime>08/03/2012 16:26:21</publishTime>
    </File>
    <File Include="Content/messages.css">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Content/Minified/contact.css">
      <publishTime>08/10/2012 13:44:31</publishTime>
    </File>
    <File Include="Content/Minified/conversations.css">
      <publishTime>08/10/2012 13:44:30</publishTime>
    </File>
    <File Include="Content/Minified/filtersStrip.css">
      <publishTime>08/10/2012 13:44:31</publishTime>
    </File>
    <File Include="Content/Minified/grid.css">
      <publishTime>08/10/2012 13:44:28</publishTime>
    </File>
    <File Include="Content/Minified/jquery.tagsinput.css">
      <publishTime>08/10/2012 13:44:31</publishTime>
    </File>
    <File Include="Content/Minified/layout.css">
      <publishTime>08/10/2012 13:44:28</publishTime>
    </File>
    <File Include="Content/Minified/messages.css">
      <publishTime>08/10/2012 13:44:30</publishTime>
    </File>
    <File Include="Content/Minified/nav.css">
      <publishTime>08/10/2012 13:44:29</publishTime>
    </File>
    <File Include="Content/Minified/phonenumbers.css">
      <publishTime>08/10/2012 13:44:30</publishTime>
    </File>
    <File Include="Content/Minified/reset.css">
      <publishTime>08/10/2012 13:44:28</publishTime>
    </File>
    <File Include="Content/Minified/Site.css">
      <publishTime>08/10/2012 13:44:29</publishTime>
    </File>
    <File Include="Content/Minified/tags.css">
      <publishTime>08/10/2012 13:44:31</publishTime>
    </File>
    <File Include="Content/Minified/text.css">
      <publishTime>08/10/2012 13:44:28</publishTime>
    </File>
    <File Include="Content/nav.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/phonenumbers.css">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/reset.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Content/tags.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/TestLayout.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/text.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="crossdomain.xml">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="InstallationDummyFile.txt">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="MyScripts/contact.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="MyScripts/Conversations.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="MyScripts/ConversationTags.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="MyScripts/Facade.js">
      <publishTime>08/02/2012 19:11:27</publishTime>
    </File>
    <File Include="MyScripts/Filtering.js">
      <publishTime>08/10/2012 11:13:19</publishTime>
    </File>
    <File Include="MyScripts/Messages.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="MyScripts/Minified/contact.js">
      <publishTime>08/10/2012 13:44:33</publishTime>
    </File>
    <File Include="MyScripts/Minified/Conversations.js">
      <publishTime>08/10/2012 13:44:32</publishTime>
    </File>
    <File Include="MyScripts/Minified/ConversationTags.js">
      <publishTime>08/10/2012 13:44:33</publishTime>
    </File>
    <File Include="MyScripts/Minified/Facade.js">
      <publishTime>08/10/2012 13:44:34</publishTime>
    </File>
    <File Include="MyScripts/Minified/Filtering.js">
      <publishTime>08/10/2012 13:44:35</publishTime>
    </File>
    <File Include="MyScripts/Minified/Messages.js">
      <publishTime>08/10/2012 13:44:35</publishTime>
    </File>
    <File Include="MyScripts/Minified/Utilities.js">
      <publishTime>08/10/2012 13:44:36</publishTime>
    </File>
    <File Include="MyScripts/Minified/WorkingPoints.js">
      <publishTime>08/10/2012 13:44:36</publishTime>
    </File>
    <File Include="MyScripts/Minified/XMPP.js">
      <publishTime>08/10/2012 13:44:37</publishTime>
    </File>
    <File Include="MyScripts/Reports/DateHelper.js">
      <publishTime>08/08/2012 11:14:28</publishTime>
    </File>
    <File Include="MyScripts/Reports/Facade.js">
      <publishTime>08/08/2012 12:22:20</publishTime>
    </File>
    <File Include="MyScripts/Reports/FirstArea.js">
      <publishTime>08/09/2012 15:30:50</publishTime>
    </File>
    <File Include="MyScripts/Reports/GlobalVariables.js">
      <publishTime>08/10/2012 11:02:00</publishTime>
    </File>
    <File Include="MyScripts/Reports/GoogleChartsTool.js">
      <publishTime>08/03/2012 17:32:45</publishTime>
    </File>
    <File Include="MyScripts/Reports/GooglePieChart.js">
      <publishTime>08/03/2012 18:06:59</publishTime>
    </File>
    <File Include="MyScripts/Reports/RepFacade.js">
      <publishTime>08/13/2012 19:26:50</publishTime>
    </File>
    <File Include="MyScripts/Reports/Report.js">
      <publishTime>08/03/2012 17:33:53</publishTime>
    </File>
    <File Include="MyScripts/Reports/Reports.js">
      <publishTime>08/13/2012 12:11:14</publishTime>
    </File>
    <File Include="MyScripts/Reports/SecondArea.js">
      <publishTime>08/10/2012 18:13:59</publishTime>
    </File>
    <File Include="MyScripts/Reports/ThirdArea.js">
      <publishTime>08/09/2012 15:46:45</publishTime>
    </File>
    <File Include="MyScripts/Utilities.js">
      <publishTime>08/13/2012 19:29:27</publishTime>
    </File>
    <File Include="MyScripts/WorkingPoints.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="MyScripts/XMPP.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Nexmo/nexmoTest.js">
      <publishTime>08/02/2012 18:45:39</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="QUnit/ControllerTest.js">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="QUnit/ConversationsTest.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="QUnit/FilteringTest.js">
      <publishTime>07/26/2012 14:16:07</publishTime>
    </File>
    <File Include="QUnit/MessagesTests.js">
      <publishTime>07/26/2012 14:16:07</publishTime>
    </File>
    <File Include="QUnit/QUnitTests.html">
      <publishTime>08/02/2012 18:45:39</publishTime>
    </File>
    <File Include="QUnit/UtilitiesTests.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="QUnit/WorkingPointsTests.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/backbone.js">
      <publishTime>08/06/2012 14:39:01</publishTime>
    </File>
    <File Include="Scripts/CollapsibleLists.js">
      <publishTime>08/03/2012 13:27:44</publishTime>
    </File>
    <File Include="Scripts/datepicker/datepicker.js">
      <publishTime>05/22/2009 15:36:18</publishTime>
    </File>
    <File Include="Scripts/datepicker/eye.js">
      <publishTime>07/30/2008 20:12:48</publishTime>
    </File>
    <File Include="Scripts/datepicker/jquery.js">
      <publishTime>05/22/2009 12:58:06</publishTime>
    </File>
    <File Include="Scripts/datepicker/layout.js">
      <publishTime>05/22/2009 15:13:02</publishTime>
    </File>
    <File Include="Scripts/datepicker/utils.js">
      <publishTime>07/30/2008 20:12:48</publishTime>
    </File>
    <File Include="Scripts/execute.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/checkplayer.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/flensed.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/flXHR.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/flXHR.swf">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/flXHR.vbs">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/strophe.flxhr.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/swfobject.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/flxhr/updateplayer.swf">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-vertical-buttonset.js">
      <publishTime>07/31/2012 14:49:35</publishTime>
    </File>
    <File Include="Scripts/jquery.cookie.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.qtip-1.0.0-rc3.min.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/jquery.simplemodal.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.tagsinput.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.datepicker-de.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.datepicker-en-GB.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.datepicker-ro.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/Minified/jquery.cookie.js">
      <publishTime>08/10/2012 13:44:38</publishTime>
    </File>
    <File Include="Scripts/Minified/jquery.simplemodal.js">
      <publishTime>08/10/2012 13:44:39</publishTime>
    </File>
    <File Include="Scripts/Minified/jquery.tagsinput.js">
      <publishTime>08/10/2012 13:44:40</publishTime>
    </File>
    <File Include="Scripts/Minified/spin.js">
      <publishTime>08/10/2012 13:44:38</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/persist-min.js">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Scripts/spin.js">
      <publishTime>08/09/2012 12:57:11</publishTime>
    </File>
    <File Include="Scripts/splitter.js">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Scripts/strophe/strophe.js">
      <publishTime>07/31/2012 14:51:57</publishTime>
    </File>
    <File Include="Scripts/underscore.js">
      <publishTime>08/06/2012 14:40:15</publishTime>
    </File>
    <File Include="Templates/PhoneTemplates.txt">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Account/LogOn.aspx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/Account/LogOnSummary.aspx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/Account/Register.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/EmailSend/GetEmailMessageForm.aspx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/EmailSend/GetFeedbackForm.aspx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/EmailSend/Index.ascx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/Help/Index.aspx">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Views/Home/About.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Home/Index.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Messages/Index.aspx">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/Messages/MyMessages.ascx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Messages/TstView.ascx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/NexmoTest/Index.aspx">
      <publishTime>08/02/2012 18:45:39</publishTime>
    </File>
    <File Include="Views/Reports/Index.aspx">
      <publishTime>08/10/2012 16:48:00</publishTime>
    </File>
    <File Include="Views/Settings/Index.aspx">
      <publishTime>07/30/2012 09:36:16</publishTime>
    </File>
    <File Include="Views/Shared/Error.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/Shared/LogOnUserControl.ascx">
      <publishTime>07/24/2012 11:00:33</publishTime>
    </File>
    <File Include="Views/Shared/Site.Master">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/UserMailer/Welcome.aspx">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Views/UserMailer/_Layout.Master">
      <publishTime>08/09/2012 12:16:54</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>07/17/2012 09:44:04</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/13/2012 19:30:18</publishTime>
    </File>
  </ItemGroup>
</Project>