<html>
	<head>
      <style type="text/css">
		/* http://meyerweb.com/eric/tools/css/reset/ */
		/* v1.0 | 20080212 */

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, font, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td {
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			font-size: 100%;
			vertical-align: baseline;
			background: transparent;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}

		/* remember to define focus styles! */
		:focus {
			outline: 0;
		}

		/* remember to highlight inserts somehow! */
		ins {
			text-decoration: none;
		}
		del {
			text-decoration: line-through;
		}

		/* tables still need 'cellspacing="0"' in the markup */
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
        
		body {
			background: #eee;
		}
		 
		#container {
			width: 980px;
			margin: 0 auto;
			border-radius: 1em;
			background: #fff;	
			font-family:"Verdana";
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		
		#header {
			padding: 1em 0 1em 1em;
		}
		
		#activity { 
			padding: 0.5em;
			color: #0b4663;
		}
		
		.header-title {
			background: #009fe3;
			color: #fff;
			text-align: right;
			padding-right: 0.5em;
			padding-left: 1em;
			float: right;
			position: relative;
			top: 50px;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			padding: 0.2em 0.5em 0.2em 1em;
			font-size: 0.9em;
			font-family: Verdana;
			font-weight: 500;
		}
		
		.workingPoint {
			background: #c5e4f1;
			padding-top: 0.3em;
			padding-bottom: 0.6em;
			margin-bottom: 1em;
			border-radius: 0.8em;
		}
		
		.workingPoint:after {
			content:"";
			position:relative;
			bottom:-25px; /* value = - border-top-width - border-bottom-width */
			left:52px; /* controls horizontal position */
			border-width:18px 22px 0 0px; /* vary these values to change the angle of the vertex */
			border-style:solid;
			border-color:#C5E4F1 transparent;
			/* reduce the damage in FF3.0 */
			display:block;
			width:0;
		}
		
		.workingPoint-details {
			margin-bottom: 0.5em;
			padding-left: 0.3em;
			padding-right: 0.3em;
			font-size: 0.9em;
			margin-top: 0.3em;
		}
		
		.workingPoint-image {
			width:25px;
			float: left;
			margin-right: 0.5em;
		}
		.workingPoint-name {
			float: left;
			font-family: Verdana;
			font-weight: 500;
		}
		.clear {
			clear: both;
		}
		
		.conversation {
			font-size: 0.7em;
			background: #dcedf1;
			padding: 0.5em;	
         margin-bottom: 0.3em;		
		}
		
		/*.conversation-normal {
			border-bottom: 1px dotted #298ba0;
		}*/
		
		.conversation-details {
			font-style: italic;
			margin-bottom: 1em;
			font-size: 0.9em;
		}
		
		.conversation-from {
			float: left;
		}
		
		.conversation-date {
			float: right;
		}
		
		.conversation-text {
			margin-bottom: 0.5em;
		}
		
		a {
			color: #207688;
		}
		
		#footer {
			font-size: 0.5em;
			color: #333;
			font-family:Tahoma;
			margin: 0 auto;
			width: 980px;
		}
      </style>
	</head>
   @{ 
      DateTime startDate = (DateTime)@ViewData["startDate"];
      DateTime endDate = (DateTime)@ViewData["endDate"];
   }
	<body>
		<section id="container">
			<section id="header">
				<img style="margin-top: 4px; height: 90px; max-height: 90px" src="@Url.Abs(Url.Content("~/Content/images/logo1.png"))"/>       
				<span class="header-title">Your activity (@startDate.ToShortDateString() - @endDate.ToShortDateString())</span>
			</section>
			<section id="activity">  
					@RenderBody()			
		   </section> 
		</section>
			<section id="footer">
				© Copyright 2012-2013 txtfeedback.net
			</section>
	</body>
</html>