#filtersStrip {
   width: 100%;
   background-color: #183540;
   background-image: linear-gradient(top, rgb(71,92,99) 26%, rgb(71,92,99) 82%);
   background-image: -o-linear-gradient(top, rgb(71,92,99) 26%, rgb(71,92,99) 82%);
   background-image: -moz-linear-gradient(top, rgb(71,92,99) 26%, rgb(71,92,99) 82%);
   background-image: -webkit-linear-gradient(top, rgb(71,92,99) 26%, rgb(71,92,99) 82%);
   background-image: -ms-linear-gradient(top, rgb(71,92,99) 26%, rgb(71,92,99) 82%);
   background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.26, rgb(71,92,99)), color-stop(0.82, rgb(71,92,99)) );
   height: 45px;
}

.filterStripElement {
     min-height:  28px;
     margin-top: 4px;
}

#filterTag_tag {
   color: white !important;
}