#filtersStrip { 
   padding: 0px !important;
}

.filterStripElement {
     min-height:  28px;
     margin-top: 6px;
}

#filterTag_tag {
   color: white !important;
   width: 107px;
}

#includeTagsInFilter,#includeUnreadInFilter,#includeStarredInFilter,#includeDateInFilter {
   cursor:  pointer;
}

.filterLabel {
   /*float: left;*/
   color: #6B9BB3;
   margin-top: 8px; /*This is for vertical alignment*/
   margin-right: 10px;
   margin-left: 20px;
}

#tagsLabel { 
   float: left;
}

.filterDate {
   width: 71px;
   min-width: 71px ;
   padding: 2px; 
   height: 28px; /*align with tagfilter*/
}

.filterInputBox {
   background: #6b9bb3; /* Old browsers */
   background: -moz-linear-gradient(left,  #6b9bb3 0%, #6b9bb3 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6b9bb3), color-stop(100%,#6b9bb3)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(left,  #6b9bb3 0%,#6b9bb3 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(left,  #6b9bb3 0%,#6b9bb3 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(left,  #6b9bb3 0%,#6b9bb3 100%); /* IE10+ */
   background: linear-gradient(to right,  #6b9bb3 0%,#6b9bb3 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b9bb3', endColorstr='#6b9bb3',GradientType=1 ); /* IE6-9 */

   border: 1px solid #6B9BB3;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   color: white !important;
   overflow: hidden;
}

#datePickersArea {
   overflow: hidden;
   display: block;
}

#unreadFilterArea {
   width: 20%;
}
#starredFilterArea {
   float: right;
   width: 19%;
}
#dateFilterArea {
   float: right;
   width: 54%;
}

.grid_4_custom {
   width: 46.5%;
   display: inline;
   float: left;
   margin-right: 0.5%;
}

#dateLabel {
   float: left;
}
