/*Tags*/

#messageTagsSeparator {
   height: 5px;
   background: -webkit-radial-gradient( 50% 0%, 100% 100%, rgba(184,186,187,1) 0%, rgba(184,186,187,0.00) 70% ); /*for chrome*/
   filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#B8BABB, endColorstr=#B8BABB); /* for IE */
   background: -moz-radial-gradient( 50% 0%,cover, #B8BABB, #FFF); /*for Firefox*/
   width: 90%;
   display: block;
   margin: 5px auto;
}

#tagsPool {
   width: 90%;
   margin-left: 5%;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: #DFE7EA;
}
/*For the messages display*/
#messagesArea {
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border: 2px solid transparent;
   background-color: #F5F8FA;
   margin-top: 7px;
}

#scrollablemessagebox {
   /*margin: 8px 0px 8px 0px ;*/
   background-color: transparent;
   position: relative;
   /*padding: 4px 4px 4px 4px;*/
   overflow: auto;
   overflow-x: hidden;
   width: 100%;
   /*border-width: 0px 0px 2px 0px;
   border-style:  normal;
   border-color:  black;   
   margin-bottom: 3px;*/
}

.messagesboxcontainerclass {
   width: 100%;
}

#messagesbox {
   display: block;
}

span.timeReceived {
   float: right;
}

div.textMessage {
   /*float: left;*/
}

/*for toMessages we display the menu at their left*/
.messageto div.extramenu {
   left: -100px;
}

/*for fromMessages we display the menu at their right*/
.messagefrom div.extramenu {
   right: -100px;
}

div.extramenu {
   /*width:  50%;*/
   float: left;
   z-index: 1;
   color: transparent;
   background-color: transparent;
   display: none;
   position: absolute;
   top: 10px;
   /*visibility: hidden;*/
}

div.actionButtons {
   /*margin:  0px;*/
   float: right;
}

#messagesbox .message {
   width: 75%;
   margin: 4px 4px 10px 4px;
   padding: 1px 4px 1px 4px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   color: #222222;   
   word-wrap: break-word;
   position: relative;   
   border-width: 2px !important;   
}

   #messagesbox .message:hover {
      border-color: #000;
      font-size: 100%;
   }

#messagesbox .messagefrom {
   float: left;
   background-color: #00A2E4;
}
#messagesbox span {
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto;
   line-height:2 em;
}

.arrowFrom {
   border-left: 0;
   border-right: 17px dotted transparent;
   border-top-width: 14px;
   bottom: -14px;
   right: auto;
   left: 5%;
   margin-left: -7px;
   position: absolute;
}

.arrowInnerFrom {
   border-left: 0;
   border-right: 12px dotted transparent;
   border-top: 10px solid white;
   bottom: auto;
   top: -14px;
   left: -5px;
   position: absolute;
   width: 0;
   height: 0;
   border-bottom-width: 0;
   background: none;
   border-top-color: #00A2E4;
}

#messagesbox .messageto {
   float: right;
   background-color: #F39814;
}

#messagesbox .ui-selecting {
   background: #FECA40;
}

#messagesbox .ui-selected {
   background: #034af3;
   color: white;
}

/*Reply area*/
.invisible {
   visibility: hidden;
}

.visible {
   visibility: visible;
}

#textareaContainer {
   padding: 2px 2px 2px 2px;
   display: inline-block;
   width: 100%;
}

#inputTextContainer {
   display: inline-block;
   background-color: #DFE7EA;
   width: 100%;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}

#replyToMessageForm {
   float: left;
   width: 68%;
   margin-left: 5%;
}

   #replyToMessageForm span {
      float: right;
   }

#replyBtn {
   height: 108px;
   width: 20%;
   float: left;
   margin-left: 2%;
   margin-right: 5%;
   background-color: #8DC63F;
   color: white;
   font-weight: bold;
   font-size: 2em;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   cursor: pointer;
}

input[name="countdown"] {
   background-color: transparent;
   border-width: 0px;
   width: 30px;
}

#limitedtextarea {
   width: 100%;
   height: px;
   overflow: hidden;
   resize: none;
   color: #222;
   font-size: 13px;
   line-height: 18px;
   border-width: 0px;
   background-color: transparent;
   white-space: pre-wrap;
   word-wrap: break-word;
   display: inline-block;
   float: left;
}

   #limitedtextarea:hover {
      outline: none;
      cursor: text!important;
   }

.clear {
   clear: both;
}
