/*Tags*/
#messageTagsSeparator {
   height: 5px;
   background: -webkit-radial-gradient( 50% 0%, 100% 100%, rgba(184,186,187,1) 0%, rgba(184,186,187,0.00) 70% ); /*for chrome*/
   filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#B8BABB, endColorstr=#B8BABB); /* for IE */
   background: -moz-radial-gradient( 50% 0%,cover, #B8BABB, #FFF); /*for Firefox*/
   background-image: -o-linear-gradient(rgba(184,186,187,1) 0%, rgba(184,186,187,0.00) 70%);
   margin-left: 20px;
   margin-right: 20px;
   display: block;
   margin-top: 5px;
   margin-bottom: 5px;
}

/*For the messages display*/
#messagesArea {
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border: 2px solid transparent;
   background-color: #F5F8FA;
   background-image: linear-gradient(top, rgb(240,248,250) 26%, rgb(245,248,250) 65%);
   background-image: -o-linear-gradient(top, rgb(240,248,250) 26%, rgb(245,248,250) 65%);
   background-image: -moz-linear-gradient(top, rgb(240,248,250) 26%, rgb(245,248,250) 65%);
   background-image: -webkit-linear-gradient(top, rgb(240,248,250) 26%, rgb(245,248,250) 65%);
   background-image: -ms-linear-gradient(top, rgb(240,248,250) 26%, rgb(245,248,250) 65%);
   background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.26, rgb(240,248,250)), color-stop(0.65, rgb(245,248,250)) );
   margin-top: 7px;
   padding-bottom: 4px;
}

#scrollablemessagebox {
   /*margin: 8px 0px 8px 0px ;*/
   background-color: transparent;
   position: relative;
   /*padding: 4px 4px 4px 4px;*/
   /*overflow: auto;*/
   overflow-x: hidden;
   width: 100%;
    /*border-width: 0px 0px 2px 0px;
   border-style:  normal;
   border-color:  black;   
   margin-bottom: 3px;*/
}

.messagesboxcontainerclass {
   width: 100%;
}

#messagesbox {
   display: block;
}

span.timeReceived {
   float: right;
   color: #eee;
   font-size: 0.9em;
   font-style: italic;
   margin-bottom: 3px;
   margin-right: 3px;
   margin-top: 6px;
}

/*for toMessages we display the menu at their left*/
.messageto div.extramenu {
   left: -60px;
   top: 0px;
   bottom: 14px;
}

/*for fromMessages we display the menu at their right*/
.messagefrom div.extramenu {
   right: -60px;
   top: 0px;
   bottom: 14px;
}

/*for toMessages we display the menu at their left*/
.messageto div.extramenuExtended {
   left: -89px;
   top: 0px;
   bottom: 14px;
}

/*for fromMessages we display the menu at their right*/
.messagefrom div.extramenuExtended {
   right: -89px;
   top: 0px;
   bottom: 14px;
}

.messagefrom::after {
   content:"";
	position:absolute;
	bottom:-10px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
	border-width:10px 10px 0 0px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#00A4E4 transparent; 
    /* reduce the damage in FF3.0 */
   display:block; 
   width:0;
}

div.extramenu, div.extramenuExtended {
   /*width:  50%;*/
   float: left;
   z-index: 1;
   color: transparent;
   background-color: transparent;
   display: none;
   position: absolute;
   /*top: -5px;*/
   /*bottom: -5px;*/
   /*padding: 10px;*/
   /*visibility: hidden;*/
}

div.innerExtraMenu {
   padding: 0px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background: #f7941d; /* Old browsers */   
   z-index: 100;
   position:relative;
   top: -27px;
  
}
div.actionButtons {
   /*margin:  0px;*/
   padding: 6.5px;
   float: right;
  }
   div.actionButtons:hover {
      cursor: pointer;
   }

#messagesbox .message {   
   width: 75%;
   margin: 4px 4px 10px 4px;
   padding: 1px 4px 1px 4px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: px;
   color: white;
   /*font-weight: bold;*/
   word-wrap: break-word;
   position: relative;
   border-width: 2px !important;
}

#messagesbox .message:hover {
   border-color: #000;
   font-size: 100%;
}

#messagesbox .messagefrom {
   float: left;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background: #00A4E4;
   background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00A4E4), to(#009de2));
   background: -webkit-linear-gradient(#00A4E4, #009de2);
   background: -moz-linear-gradient(#00A4E4, #009de2);
   background: -ms-linear-gradient(#00A4E4, #009de2);
   background: -o-linear-gradient(#00A4E4, #009de2);
   background: linear-gradient(#00A4E4, #009de2);
   -pie-background: linear-gradient(#00A4E4, #009de2);
   behavior: url(/PIE.htc);
}

#messagesbox span {   
   font-size:  14px;
   line-height: 1.3em;   
}

#messagesbox span.textMessageContent {
    font-size: 17px;
}

#noConversationsLoaded {
 width: 100%;   
 margin-top: 100px;  
 text-align: center;   
 display: inline-block;  
 font-size: 1.5em;
}

#messagesbox .messageto {
   float: right;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background: #92c942;
   background: -webkit-gradient(linear, 0 0, 0 bottom, from(#92c942), to(#8ac53d));
   background: -webkit-linear-gradient(#92c942, #8ac53d);
   background: -moz-linear-gradient(#92c942, #8ac53d);
   background: -ms-linear-gradient(#92c942, #8ac53d);
   background: -o-linear-gradient(#92c942, #8ac53d);
   background: linear-gradient(#92c942, #8ac53d);
   -pie-background: linear-gradient(#92c942, #8ac53d);
   behavior: url(/PIE.htc);
}

.messageto::after {
   content:"";
	position:absolute;
	bottom:-10px; /* value = - border-top-width - border-bottom-width */
	right:20px; /* controls horizontal position */
	border-width:10px 0 0 10px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#92c942 transparent; 
    /* reduce the damage in FF3.0 */
   display:block; 
   width:0;
}

#messagesbox .ui-selecting {
   background: #FECA40;
}

#messagesbox .ui-selected {
   background: #034af3;
   color: white;
}

/*Reply area*/
.invisible {
   visibility: hidden;
}

.visible {
   visibility: visible;
}

#inputTextContainer {
   display: inline-block;
   background-color: #DFE7EA;
   width: 100%;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   height: 65px;
}

#replyToMessageForm span {
   float: right;
}

#replyBtn {
   height: 65px;
   width: 99px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: #666 0px 0px 0px;
   -moz-box-shadow: #666 0px 0px 0px;
   box-shadow: #666 0px 0px 0px;
   background: #92C841;
   background: -webkit-gradient(linear, 0 0, 0 bottom, from(#92C841), to(#80af3a));
   background: -webkit-linear-gradient(#92C841, #80af3a);
   background: -moz-linear-gradient(#92C841, #80af3a);
   background: -ms-linear-gradient(#92C841, #80af3a);
   background: -o-linear-gradient(#92C841, #80af3a);
   background: linear-gradient(#92C841, #80af3a);
   -pie-background: linear-gradient(#92C841, #80af3a);
   behavior: url(/PIE.htc);
   color: white;
   font-weight: bold;
   padding: 0px;
   font-size: 1.5em;   
   cursor: pointer;
}

#replyBtn:hover {
   color: black;
}

input[name="countdown"] {
   background-color: transparent;
   border-width: 0px;
   width: 30px;
   font-size: 0.6em;
}

#limitedtextarea {
   width: 100%;
   overflow: hidden;
   resize: none;
   color: #222;
   /*font-size: 13px;*/
   line-height: 18px;
   border-width: 0px;
   background-color: transparent;
   white-space: pre-wrap;
   word-wrap: break-word;
   display: inline-block;
   float: left;
   font: 13px/1.5 Calibri, Verdana, sans-serif;
}

   #limitedtextarea:hover {
      outline: none;
      cursor: text!important;
   }

.clear {
   clear: both;
}

#textareaContainer {
   margin-top: 4px;
   padding-left: 20px;
   padding-right: 108px;
}

#replyFormArea {
   float: left;
   position: relative;
   overflow: hidden;
   width: 97%;
}

#replyButtonArea {
   margin-right: -168px;
   padding-left: 10px;
   float: left;
   position: relative; 
}

#tagContainerForSpinner {
   width: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #183540; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #183540; /* Old browsers */
    background: -moz-linear-gradient(left, #183540 0%, #397596 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#183540), color-stop(100%,#397596)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #183540 0%,#397596 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #183540 0%,#397596 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #183540 0%,#397596 100%); /* IE10+ */
    background: linear-gradient(to right, #183540 0%,#397596 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183540', endColorstr='#397596',GradientType=1 ); /* IE6-9 */

    /*-webkit-box-shadow: inset 0 0 6px #183540;*/ 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #183540; /* Old browsers */
    background: -moz-linear-gradient(left, #183540 0%, #397596 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#183540), color-stop(100%,#397596)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #183540 0%,#397596 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #183540 0%,#397596 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #183540 0%,#397596 100%); /* IE10+ */
    background: linear-gradient(to right, #183540 0%,#397596 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183540', endColorstr='#397596',GradientType=1 ); /* IE6-9 */
}
.extraMenuWrapperLeft
 {
    width: 50%;
    height: 100%;
    left: -6px;
    position:relative;
    z-index: 0;
    top: 2px;
}

.extraMenuWrapperRight
 {
    width: 50%;
    height: 100%;
    left: 22px;
    position:relative;
    z-index: 0;
    top: 2px;
}

.arrowInnerLeft:after{ /*arrow added to leftarrowdiv DIV*/
   content:'';
   display:block;
   position:absolute;
   top:8px;
   left:-12px; /*should be set to -border-width x 2 */
   width:0;
   height:0;
   border-color: transparent #f7941d transparent transparent; /*border color should be same as div div background color*/
   border-style: solid;
   border-width: 6px;
}

.arrowInnerRight:after{ /*arrow added to rightarrowdiv DIV*/
   content:'';
   display:block;
   position:absolute;
   top:8px;
   left:100%; /*should be set to 100% */
   width:0;
   height:0;
   border-color: transparent transparent transparent #f7941d; /*border color should be same as div div background color*/
   border-style: solid;
   border-width: 6px;
}

.msgButtons {
    float: left;
    margin-left: 4px;
    position: relative;
    top: 6px;    
}

#messagesbox div.deleteMessage {
    position:relative;
    top:3px;
}

.msgButtons img {
    opacity:0.3;
    filter:alpha(opacity=20); /* For IE8 and earlier */
}

.msgButtons img:hover {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.msgButtons {
    opacity: 1;
}

div.messageMenu {
    visibility: hidden;
}