/*Style for numbers box*/
.phoneNumber {
   border-top: 1px solid #294957;
   border-bottom: 1px solid #294957;
   /*border-right: 1px solid transparent;*/
   font-size: 100%;
   line-height: 2.4;
   padding: 4px 4px 4px 4px;
   text-decoration: none;
   white-space: normal;
   word-wrap: normal;
   display: block;
   margin-left: 2%;


}
.phoneNumberSelected {
   color: white;
   
}
.phoneNumberUnselected {
   color:   #8CADBD;
   background-color: transparent;
   font-weight: normal;
}
.phoneNumber:hover {
   background-color: #3E6D8E;   
   border-bottom: 1px solid #37607D;
   border-right: 1px solid #37607D;
   color: #E0EAF1;
   text-decoration: none;
   }

#phoneNumbersPool {
   padding: 2px 2px 2px 0px;   
   overflow: auto;   
}

.wordwrap { 
   white-space: initial;      /* CSS3 */      
}

.deletePhoneNumberIconSelected {
   background: transparent;
   border: 1px solid white;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
.deletePhoneNumberIconUnselected {
    /*background: #3678a7;*/
    border: 1px solid #6B9BB3;
    border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
    background: #6b9bb3; /* Old browsers */   
}

.wpSelectorIcon {
  width: 17px !important;
   height: 17px !important;  
   cursor: pointer;
}

.wpItem {
   vertical-align: middle;
}