/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

/*DA unfortunately the font family setting is not working so we force it on the input field*/
body {
   margin: 0;
   padding: 0;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
}

input[type='text'], textarea {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;
   font-size: 17px;
   background-color:rgba(255, 255, 255, .8);
}

html {
   background-color: white;
}

html, body {
   height: 100%;
   font-size: 16px;
}

a {
   outline: none;
}

   a:link {
      color: #034af3;
      text-decoration: underline;
   }

   a:visited {
      color: #505abc;
      outline: none;
   }

   a:hover {
      color: #1d60ff;
      text-decoration: none;
   }

   a:active {
      color: #12eb87;
      outline: none;
   }

   a:focus {
      -moz-outline-style: none;
      outline: none;
   }

p, ul {
   margin-bottom: 20px;
   line-height: 1.6em;
}


/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
   font-size: 1.5em;
   color: #000;
}

h1 {
   font-size: 2em;
   padding-bottom: 0;
   margin-bottom: 0;
}

h2 {
   padding: 0 0 10px 0;
}

h3 {
   font-size: 1.2em;
}

h4 {
   font-size: 1.1em;
}

h5, h6 {
   font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
.page {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   background: #fff;
}

header, #header {
   position: relative;
   background-color: white;
   margin-bottom: 0px;
   color: #000;
   padding-top: 5px;
   padding-left: 5px;
   padding-right: 5px;
   max-width: 100%;
}

#logo {
   float: left;
}

nav {
   display: block;
}

footer {
   display: block;
}

header h1, #header h1 {
   font-weight: bold;
   padding: 5px 0;
   margin: 0;
   color: #fff;
   border: none;
   line-height: 2em;
   font-size: 32px !important;
   text-shadow: 1px 1px 2px #111;
}

#main {
   /*padding: 30px 30px 15px 30px;*/
   background-color: #fff;
   border-radius: 4px 0 0 0;
   -webkit-border-radius: 4px 0 0 0;
   -moz-border-radius: 4px 0 0 0;
}

footer, #footer {
   background-color: #fff;
   color: #999;
   padding: 0 0 0 0;
   text-align: center;
   line-height: normal;
   margin: 0 0 0 0;
   font-size: .9em;
   border-radius: 0 0 4px 4px;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU
----------------------------------------------------------*/
ul#menu {
   border-bottom: 1px #5C87B2 solid;
   padding: 0;
   position: relative;
   margin-bottom: 0px;
   /*text-align: right;*/
}

   ul#menu li {
      display: inline-block;
      list-style: none;
      margin-left: 0px;
   }

      ul#menu li#greeting {
         padding: 10px 20px;
         font-weight: bold;
         text-decoration: none;
         line-height: 2.8em;
         color: #fff;
      }

      ul#menu li .currentMenuItem {
         background: #103749; /* Old browsers */
         color: white !important;
      }

      ul#menu li a {
         padding: 14px 20px 12.5px;
         font-weight: bold;
         text-decoration: none;
         line-height: 2.8em;
         /*background-color: white;*/
         color: #183540;
         border-radius: 3px 3px 0 0;
         -webkit-border-radius: 3px 3px 0 0;
         -moz-border-radius: 3px 3px 0 0;
      }

         ul#menu li a:hover {
            background-color: #3E6D8E;
            color: #E0EAF1;
            text-decoration: none;
         }

         ul#menu li a:active {
            background-color: #a6e2a6;
            text-decoration: none;
         }

      ul#menu li.selected a {
         background-color: #fff;
         color: #000;
      }

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/

fieldset {
   margin: 0px;
}

legend {
   font-size: 1.6em;
   font-weight: bold;
   display: block;
   padding: 0.5em 0 0.3em;
   width: 100%;
   border: none;
   margin: 0;
   color: #0b4663;
}

textarea {
   /*min-height: 4em;*/
}

/*input[type="text"], input[type="password"] {   
    padding: 2px;
    font-size: 16px;
    color: #5b5b5b;
    letter-spacing: -0.01em;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ffffff));
    background: -moz-linear-gradient(top,  #e0e0e0,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
    margin-right: 20px;
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
    width:100%;
}*/

/*input[type="text"]:focus { -webkit-box-shadow: 0px 0px 5px #007eff; -moz-box-shadow: 0px 0px 5px #007eff; box-shadow: 0px 0px 5px #007eff; }*/



select {
   border: 1px solid #ccc;
   padding: 2px;
   font-size: 1.2em;
   color: #fff;
   width: 96%;
   margin-left: 2%;
   background: #333;
}

input[type="submit"] {
   font-size: 1.1em;
   padding: 2px 2px;
}

/* TABLE
----------------------------------------------------------*/
/* temporary disabled
table {
border: solid 1px #e8eef4;
border-collapse: collapse;
}
table td {
padding: 5px;
border: solid 1px #e8eef4;
}

table th {
padding: 6px 5px;
text-align: left;
background-color: #e8eef4;
border: solid 1px #e8eef4;
}
*/
/* MISC
----------------------------------------------------------*/
.clear {
   clear: both;
}

.error {
   color: Red;
}


#menucontainer {
   margin-top: 40px;
}


@media only screen and (min-width : 960px) {
   div#title {
      display: block;
      float: left;
      text-align: left;
      margin-right: 20px;
      position: relative;
      z-index: 1;
   }

   #logindisplay {
      font-size: 15px;
      display: block;
      text-align: right;
      /*margin: 10px;*/
      color: #183540;
   }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   div#title {
      display: none;
      visibility: collapse;
   }

   #logindisplay {
      top: 9px;
      position: relative;
      float: right;
      font-size: 15px;
      z-index: 15;
   }
}


#logindisplay a:link {
   color: #511df9;
   text-decoration: underline;
   opacity: 0.5;
}

#logindisplay a:visited {
   color: #183540;
   text-decoration: underline;
}

#logindisplay a:hover {
   color: #511df9;
   text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
   color: #ff0000;
}

.field-validation-valid {
   display: none;
}

.input-validation-error {
   border: 1px solid #ff0000;
   background-color: #ffeeee;
}

.validation-summary-errors {
   font-weight: normal;
   color: #ff0000;
   background-color: whitesmoke;
   position: relative;
   margin-top: 10px;
   width: 277px;
}

.validation-summary-valid {
   display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label {
   margin: 0.5em 0 2em 0;
}

.display-field, .editor-field {
   margin: 0.5em 0 0 0;
   width: 100%;
}

.text-box {
   /*width: 30em;*/
   width: 100%;
}

   .text-box.multi-line {
      height: 6.5em;
   }

.tri-state {
   width: 6em;
}

/*Common definition for both messages & conversations*/
.scrollablebox {
   min-height: 400px;
   /*max-height: 500px;*/
   /*height: 400px;*/
}

/*The status bar*/
.statusbar {
   position: fixed;
   bottom: 5px;
   left: 0px;
   right: 0px;
   height: 16px;
   padding: 5px;
   background: black;
   color: white;
   border: solid 1px lightgray;
   opacity: .70;
   filter: alpha(opacity="70");
   z-index: 200;
   overflow: hidden;
   overflow-y: auto;
}

.statusbarhighlight {
   font-weight: bold;
   background-color: khaki;
   color: Maroon;
   border: solid 1px silver;
}

div.statusbarclose {
   float: right;
}


#logOnContainer {
   float: right;
}

#bkgImage {
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   position: fixed;
   height: auto;
}


#loginBtn {
   background: #22a6de;
   border: 0px solid transparent;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   width: 100%;
}

#loginContainer {
   border: 1px solid #ddd;
   padding: 10px;
   position: relative;
   margin-right: 18%;
   background-color: #F3F6F7;
   width: 280px;
   min-width: 280px;
   margin-right: 200px;
   margin-top: 200px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

   #loginContainer p {
      margin-bottom: 0px;
   }

#logoContainerOnLogin {
   height: 0px;
   position: relative;
   right: 450px;
   top: 40px;
}

   #logoContainerOnLogin img {
      width: 400px;
      max-width: 400px;
   }

#RememberMe {
   margin: 3px 3px 0px 3px;
}

#changeLanguage {
   margin-top: 20px;
}

   #changeLanguage img, #logindisplay img {
      width: 16px;
      height: 16px;
      background: transparent;
   }

      #changeLanguage img:hover, #logindisplay img:hover {
         background: grey;
      }

   #changeLanguage a {
      opacity: 0.5;
   }

.selectedLanguage {
   border-bottom: 1px solid black;
   opacity: 1 !important;
}

#msgTabcount {
   color: #F7941D;
}

@media only screen and (min-width : 960px) {
   #feedbackArea {
      position: relative;
      float: right;
      padding-top: 15px;
      z-index: 5;
      font-size: 15px;
   }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   #feedbackArea {
      display: none;
      visibility: collapse;
   }
}


#feedbackArea img {
   width: 20px;
   cursor: pointer;
}

.loginoverlay {
   background-color: #333;
   cursor: wait;
   opacity: 0.5;
   z-index: 1001;
   position: fixed;
   width: 100%;
   height: 100%;
}

.full {
   width: 450px;
}

#reLogin {
   position: absolute;
   width: 100%;
   height: 100%;
}

.iframe {
   height: auto;
   width: auto;
   left: 40%;
   top: 30%;
   z-index: 1002;
   position: fixed;
}

#loginContainerSummary {
   border: 1px solid #ddd;
   padding: 10px;
   position: relative;
   background: #ffffff;
}

   #loginContainerSummary p {
      margin-bottom: 0px;
   }

#relogin {
   height: 500px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border: 2px solid transparent;
}


.notificationArea {
   display: block;
   width: 80%;
   left: 9%;
   position: relative;
   padding: 2px 10px 2px 10px;
   background: #f3949e;
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzOTQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNjc2ODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, #f3949e 0%, #f67683 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3949e), color-stop(100%,#f67683));
   background: -webkit-linear-gradient(top, #f3949e 0%,#f67683 100%);
   background: -o-linear-gradient(top, #f3949e 0%,#f67683 100%);
   background: -ms-linear-gradient(top, #f3949e 0%,#f67683 100%);
   background: linear-gradient(to bottom, #f3949e 0%,#f67683 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3949e', endColorstr='#f67683',GradientType=0 );
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   color: white;
}

.notificationBtn {
   font-size: 16px;
   font-family: 'Source Sans Pro', sans-serif;
   background-color: rgb(24, 53, 64);
   border-color: rgb(24, 53, 64);
   color: white;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

   .notificationBtn:hover {
      background-color: rgb(64, 153, 187);
      border-color: rgb(64, 153, 187);
      cursor: pointer;
   }

#notificationText {
   line-height: 1.3em;
   vertical-align: middle;
}

.notificationIcon {
   vertical-align: middle;
}

#notificationMsgArea {
}

#notificationActionBtns {
   float: right;
}


@media only screen and (min-width : 960px) {
   /* Let's get this party started */
   ::-webkit-scrollbar {
      width: 12px;
   }
   /* Track */
   ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #183540;
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }

   /*Handle*/
   ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #183540;
      background: -moz-linear-gradient(left, #183540 0%, #397596 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#183540), color-stop(100%,#397596));
      background: -webkit-linear-gradient(left, #183540 0%,#397596 100%);
      background: -o-linear-gradient(left, #183540 0%,#397596 100%);
      background: -ms-linear-gradient(left, #183540 0%,#397596 100%);
      background: linear-gradient(to right, #183540 0%,#397596 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183540', endColorstr='#397596',GradientType=1 );
   }

      ::-webkit-scrollbar-thumb:window-inactive {
         background: #183540;
         background: -moz-linear-gradient(left, #183540 0%, #397596 100%);
         background: -webkit-gradient(linear, left top, right top, color-stop(0%,#183540), color-stop(100%,#397596));
         background: -webkit-linear-gradient(left, #183540 0%,#397596 100%);
         background: -o-linear-gradient(left, #183540 0%,#397596 100%);
         background: -ms-linear-gradient(left, #183540 0%,#397596 100%);
         background: linear-gradient(to right, #183540 0%,#397596 100%);
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183540', endColorstr='#397596',GradientType=1 );
      }
}

.textarea160 {
   width: 100%;
   background-color: rgba(255, 255, 255, .8);
   border-color: rgba(0, 0, 0, 0.27);
   color: #000;
   font-family: 'Source Sans Pro', sans-serif;
}

   .textarea160:focus, .textarea160:active {
     background-color: white;
     border-color: rgba(0, 0, 0, 0.6);
   }

.logInTextBox {
   width: 100%;
   font-family: 'Source Sans Pro', sans-serif !important;
   font-weight: 400;
   line-height: 19px !important;
   font-size: 15px !important;
   background-color: white !important;
}

#rightColumn form {
   margin: 5px 20px 5px 20px;
}



input[type=text]:focus, input[type=text]:active, input[type=password]:focus, input[type=password]:active, input[type=email]:focus, input[type=email]:active, input[type=number]:focus, input[type=number]:active, input[type=tel]:focus, input[type=tel]:active, input[type=url]:focus, input[type=url]:active, input[type=search]:focus, input[type=search]:active, textarea:focus, textarea:active, .win-textarea:focus, .win-textarea:active, select:focus, select:active {
   background-color: white;
   border-color: rgba(0, 0, 0, 0.6);
   color: black;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   .noShowOnTablet {
      display: none;
      visibility: collapse;
   }
}
