.tagArea {
    border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
    min-height:  28px !important;
    float:left;
    width:97%;
    margin-bottom: 9px;
    padding: 3px 0;
}
#tagsPoolWrapper {    
   background-color: #DFE7EA;  
}

#tagsContainer {
    padding-left:20px; 
    padding-right: 108px;
}

#tagFiltering {

}

#tagsPool {
   /*width: 90%;
   margin-left: 5%;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: #DFE7EA;*/
   background-color: transparent;
    /*padding: 2px 6px 2px 6px;*/    
}

.tag {
   margin-right: 5px;
   /*margin-bottom: 5px;*/
   /*border: 1px solid transparen;*/
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   
   background-color: #a4b7c3;
   background-image: linear-gradient(bottom, #B4C9D6 47%, #96A8B3 14%);
   background-image: -o-linear-gradient(bottom, #B4C9D6 47%, #96A8B3 14%);
   background-image: -moz-linear-gradient(bottom, #96A8B3 14%, #B4C9D6 47%);
   background-image: -webkit-linear-gradient(bottom, #B4C9D6 47%, #96A8B3 14%);
   background-image: -ms-linear-gradient(bottom, #B4C9D6 47%, #96A8B3 14%);
   background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.47, #B4C9D6), color-stop(0.14, #96A8B3) );
   
   border-bottom: 1px solid #3E6D8E;
   border-right: 1px solid #7F9FB6;
   padding: 0px 4px 0px 4px;
   text-decoration: none;
   font-size: 90%;
   line-height: 1.5;
   white-space: nowrap;
   float: left;
}
#filterTag_tagsinput .tag {
   color: white;   
}

#tags_tagsinput .tag {
   color: #3E6D8E;   
}

#tags_tagsinput {
   max-height: 22px; /*same size as min-height*/
   display:  block;
   overflow: hidden;
}

#filterTag_tagsinput {
   max-height: 22px; /*same size as min-height*/
   display:  block;
   overflow: hidden;
}
.removeTagIcon {
   vertical-align: middle;   
}
.tag:hover {
   background-color: #a4b7c3;
   background-image: linear-gradient(bottom, rgb(106,120,128) 47%, rgb(96,106,112) 14%);
   background-image: -o-linear-gradient(bottom, rgb(106,120,128) 47%, rgb(96,106,112) 14%);
   background-image: -moz-linear-gradient(bottom, rgb(106,120,128) 47%, rgb(96,106,112) 14%);
   background-image: -webkit-linear-gradient(bottom, rgb(106,120,128) 47%, rgb(96,106,112) 14%);
   background-image: -ms-linear-gradient(bottom, rgb(106,120,128) 47%, rgb(96,106,112) 14%);
   background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.47, rgb(106,120,128)), color-stop(0.14, rgb(96,106,112)) );
   border-bottom: 1px solid #37607D;
   border-right: 1px solid #37607D;
   color: white !important;
   cursor: pointer;
   text-decoration: none;
}

.removeTag {
   margin-left: 7px;
   position: relative;
   top: 2px;
}

#tagFilterArea {
   
}

.tag a {
   color: #385D6E;
   text-decoration: initial;
}

.tag a:hover {
   color: white;
   text-decoration: initial;
}
   
/* SPECIAL TAGS */
#specialTagsWrapper {
    float:left;
    position: relative;
    margin-right:-168px;
    padding-left:10px;
    top: -1px;
}

#specialTags {
    border-radius: 5px;
    width: 75px;
    position: relative;
    top: 7px;
}

.specialTag {
    margin-left:5px;
    cursor:pointer;
    width: 20px;
}

#thumbsUp, #thumbsDown {
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999px;   
    float: left; 
}

#thumbsUp:hover, #thumbsDown:hover {
    background-position: 24px 0;        
}

#thumbsUp {
    background-image:url('images/thumbs_up_hover_yellow_24x24.png');    
}
#thumbsDown {
    background-image:url('images/thumbs_down_hover_red_24x24.png');    
}


/* ============================================================================================================================
== BUBBLE WITH AN ISOCELES TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-isosceles {
	position:relative;
	color:#000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}


/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
	left: 11px;
    /*padding-bottom: 14px;*/
	background:#DFE7EA;
    top: -16px;
    height: 40px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
	content:"";
	position:absolute;
	bottom: 14px; /* value = - border-top-width - border-bottom-width */
	left: 49px; /* controls horizontal position */
	border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
	top: 14px; /* controls vertical position */
	left:-13px; /* value = - border-left-width - border-right-width */
	bottom: auto;
	border-width:6px 13px 6px 0;
	border-color:transparent #DFE7EA;
}

