<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <sectionGroup name="blowery.web">
         <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
      </sectionGroup>
   </configSections>
   <blowery.web>
      <httpCompress preferredAlgorithm="gzip" compressionLevel="high">
         <excludedMimeTypes>
            <add type="image/jpeg"/>
            <add type="image/gif"/>
            <add type="image/svg"/>
         </excludedMimeTypes>
         <excludedPaths>
            <add path="NoCompress.aspx"/>
         </excludedPaths>
      </httpCompress>
   </blowery.web>
   <appSettings>
      <add key="webpages:Version" value="1.0.0.0"/>
      <add key="ClientValidationEnabled" value="true"/>
      <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
   </appSettings>
   <system.web>
      <customErrors mode="Off"/>
      <globalization culture="auto" uiCulture="en-US" enableClientBasedCulture="true"/>
      <healthMonitoring enabled="true">
         <eventMappings>
            <clear />
            <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent"
            startEventCode="0" endEventCode="2147483647" />
         </eventMappings>
         <providers>
            <clear />
            <add type="System.Web.Management.SimpleMailWebEventProvider"
                 name="EmailWebEventProvider" buffer="false"
                 from="dragos.andronic@gmail.com" to="dragos@txtfeedback.net, mihai@txtfeedback.net, bogdan@txtfeedback.net"
                 subjectPrefix="Txtfeedback server-side error: " />

            <add connectionStringName="ReviewsConnectionString" maxEventDetailsLength="1073741823"
            buffer="false" name="SqlWebEventProvider"
            type="System.Web.Management.SqlWebEventProvider" />
         </providers>
         <rules>
            <clear />
            <add name="All Errors To E-Mail" eventName="All Errors" provider="EmailWebEventProvider"
                 profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
         </rules>
      </healthMonitoring>
      <trace enabled="true"/>
      <compilation targetFramework="4.0" debug="true">
         <assemblies>
            <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
         </assemblies>
      </compilation>
      <authentication mode="Forms">
         <forms loginUrl="~/Account/LogOn" timeout="1440" slidingExpiration="true" name=".ASPXFORMSAUTHT_TxtFeedback" />
      </authentication>
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
         <namespaces>
            <add namespace="System.Web.Helpers"/>
            <add namespace="System.Web.Mvc"/>
            <add namespace="System.Web.Mvc.Ajax"/>
            <add namespace="System.Web.Mvc.Html"/>
            <add namespace="System.Web.Routing"/>
            <add namespace="System.Web.WebPages"/>
         </namespaces>
      </pages>
      <httpRuntime/>
      <machineKey validationKey='13BC44A465052C28EB8F6330FD0E05A51AE2E5D6548D66C7D3A62B5EBA344D28D18318B030A4143E83BB03EB35B335C594B34D724796112C27240CF1BE2D95BD' 
                  decryptionKey='D8412350DCC16DD690EA41E66C6933391D03DF9657D45DC4' 
                  validation='SHA1'/>      
      <!--<machineKey/>-->
      <profile defaultProvider="DefaultProfileProvider">
         <providers>
            <add name="DefaultProfileProvider"
                 type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 connectionStringName="DefaultConnection"
                 applicationName="/"/>
         </providers>
      </profile>
      <membership defaultProvider="DefaultMembershipProvider" hashAlgorithmType="SHA1">
         <providers>
            <add name="DefaultMembershipProvider"
                 type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                 connectionStringName="DefaultConnection" 
                 enablePasswordRetrieval="false" 
                 enablePasswordReset="true" 
                 requiresQuestionAndAnswer="false" 
                 requiresUniqueEmail="false" 
                 maxInvalidPasswordAttempts="5"
                 minRequiredPasswordLength="6" 
                 minRequiredNonalphanumericCharacters="0"
                 passwordAttemptWindow="10" 
                 applicationName="/"                 
                />
         </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
         <providers>
            <add connectionStringName="DefaultConnection"
                 applicationName="/"
                 name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
         </providers>
      </roleManager>
      <sessionState mode="InProc" customProvider="DefaultSessionProvider">
         <providers>
            <add name="DefaultSessionProvider"
                 type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 connectionStringName="DefaultConnection"
                 applicationName="/"/>
         </providers>
      </sessionState>
   </system.web>
   <system.webServer>
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
      <!--This part configures the IIS to allow svg files to be downloaded -->
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
         <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      </staticContent>
      <modules runAllManagedModulesForAllRequests="true">
         <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>
      </modules>
      <handlers>
         <remove name="UrlRoutingHandler"/>
      </handlers>
      <rewrite>
         <rules>
            <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
               <match url="(.*)/$"/>
               <conditions>
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
               </conditions>
               <action type="Redirect" url="{R:1}"/>
            </rule>
            <!-- the patterns to redirect is something.14numbers.js or .css redirect to something.js or .css-->
            <rule name="CSS and JS renaming" stopProcessing="true">
               <match url="^(.*)\.[\d]{14}\.(css|js)$"/>
               <action type="Redirect" url="{R:1}.{R:2}"/>
            </rule>
            <rule name="boshInboundRule" stopProcessing="true">
               <match url="^(.*)(\/http-bindours)(\/?)$"/>
               <action type="Rewrite" url="http://176.34.122.48:7070/http-bind/" appendQueryString="false"/>
            </rule>
         </rules>
      </rewrite>
      <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
   </system.webServer>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <connectionStrings>
      <add name="smsfeedbackEntities" connectionString="metadata=res://*/SmsFeedbackModels.csdl|res://*/SmsFeedbackModels.ssdl|res://*/SmsFeedbackModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.38.209.13;initial catalog=txtfeedback_production;user id=sms_feedback_2;password=feed123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="DefaultConnection" connectionString="Data Source=89.38.209.13;Initial Catalog=txtfeedback_production;User ID=sms_feedback_2;Password=feed123!" providerName="System.Data.SqlClient"/>
   </connectionStrings>
   <!--Section for log4net-->
   <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
         <file value="mylogfile.txt"/>
         <appendToFile value="true"/>
         <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level (%M) (%file:%line)  - %message%newline"/>
         </layout>
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG"/>
            <levelMax value="FATAL"/>
         </filter>
      </appender>
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <bufferSize value="100"/>
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
         <connectionString value="data source=89.38.209.13;initial catalog=txtfeedback_dev;persist security info=True;User ID=sms_feedback_2;Password=feed123!"/>
         <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
         <parameter>
            <parameterName value="@log_date"/>
            <dbType value="DateTime"/>
            <layout type="log4net.Layout.RawTimeStampLayout"/>
         </parameter>
         <parameter>
            <parameterName value="@thread"/>
            <dbType value="String"/>
            <size value="255"/>
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread"/>
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level"/>
            <dbType value="String"/>
            <size value="50"/>
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level"/>
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger"/>
            <dbType value="String"/>
            <size value="255"/>
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger"/>
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message"/>
            <dbType value="String"/>
            <size value="4000"/>
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message"/>
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception"/>
            <dbType value="String"/>
            <size value="2000"/>
            <layout type="log4net.Layout.ExceptionLayout"/>
         </parameter>
         <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR"/>
            <levelMax value="FATAL"/>
         </filter>
      </appender>
      <root>
         <level value="ERROR"/>
         <appender-ref ref="AdoNetAppender"/>
      </root>
   </log4net>
   <system.net>
      <mailSettings>
         <!-- Method#1: Configure smtp server credentials -->
         <smtp from="TxtFeedback &lt;outbound@txtfeedback.net&gt;">
            <network enableSsl="true" host="smtp.gmail.com" port="587"  userName="outbound@txtfeedback.net" password="outboundpasswtxtfeedback"/>
         </smtp>
         <!-- Method#2: Dump emails to a local directory -->
         <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
      </mailSettings>
   </system.net>
</configuration>