<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
   <connectionStrings>
      <add name="smsfeedbackEntities" 
           connectionString="metadata=res://*/SmsFeedbackModels.csdl|res://*/SmsFeedbackModels.ssdl|res://*/SmsFeedbackModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=89.38.209.13;initial catalog=txtfeedback_nexmo;user id=sms_feedback_2;password=feed123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
           providerName="System.Data.EntityClient"
           xdt:Transform="Replace"
           xdt:Locator="Match(name)"/>
      <add name="DefaultConnection" 
           connectionString="Data Source=89.38.209.13;Initial Catalog=txtfeedback_nexmo;User ID=sms_feedback_2;Password=feed123!" 
           providerName="System.Data.SqlClient"
           xdt:Transform="Replace"
           xdt:Locator="Match(name)"/>
   </connectionStrings>
   <log4net>
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
         <connectionString name="LogDb" 
                           value="data source=89.38.209.13;initial catalog=txtfeedback_nexmo;persist security info=True;User ID=sms_feedback_2;Password=feed123!"
                           providerName="System.Data.SqlClient"
                           xdt:Transform="Replace"
                           xdt:Locator="Match(name)"/>
      </appender>
   </log4net>
   <system.webServer>
      <staticContent>         
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" xdt:Transform="Remove" xdt:Locator="Match(fileExtension)"/>
         <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" xdt:Transform="Remove" xdt:Locator="Match(fileExtension)"/>
      </staticContent>
   </system.webServer>
  <system.web>
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>