/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 1024px) {
.headerArea {
   width: 100%;
   background-color: #183540;   
   height: 45px;
   min-height: 45px;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   .headerArea {
   display:none;
   visibility:collapse;
   }
}

.leftSideArea {
   min-width: 20px;
   height: 100%;
   min-height: 500px;
   background-color: #183540;   
}

.menuParentItem {
    font-weight: bold;
    font-size: 16 em;
    
    border-bottom: 1px solid #294957;
    display: block;
    font-size: 100%;
    line-height: 2.4;
    margin-left:2%;
    padding:4px;
    text-decoration: none;
    white-space: normal;
    word-wrap: normal;
}

.menuLeafItem {
    margin-left: 15px;
}

.menuItemSelected {
   background-color: #3E6D8E;   
   border-bottom: 1px solid #37607D;
   border-right: 1px solid #37607D;
   color: #E0EAF1;
   text-decoration: none;
}

.primaryList li.innerLi {    
    border-bottom: 1px solid #294957;
    /*border-top: 1px solid #294957;*/
    display: block;
    font-size: 100%;
    line-height: 2.4;
    margin-left:2% !important;
    padding:4px;
    text-decoration: none;
    white-space: normal;
    word-wrap: normal;
}

.primaryList li.innerLi:hover {
   background-color: #548bb2;   
   border-bottom: 1px solid #37607D;
   border-right: 1px solid #37607D;
   color: #E0EAF1;
   text-decoration: none;
}
.primaryList li.listItem {
    margin-left: 0;
    cursor: pointer;
    list-style:none;
}
.collapsibleList {
    padding-left: 0;
    margin-bottom: 0;
}
ul.item1 {
    display: block;
}


@media only screen 
and (min-width : 1024px) {
#leftColumn {
   color: white;
   overflow: auto;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   #leftColumn {
   display:none;
   visibility:collapse;
   }
}


.rightColumn { 
    color: #000000;     
    margin: 0px 0px 0px 0.0%;
    display: block;
    border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
    margin-top: 8px;
    margin-bottom:5px;
}