.bodyText {
   width: 550px;
   margin-top: 15px;
   margin-right: auto;
   margin-left: auto;
   font-size: 2em;
   font-weight: normal;
   display: block;
   text-align: center;
   margin-top:100px;
   font-family: Arial, Helvetica, sans-serif;
}

.page {
background-color: #183540;
color: white;
}

#leftColumn {
    background-color: #183540;
    min-width: 145px;
    overflow: auto;
    width: 15%;
}

#rightColumn {
    background: #ffffff;
    width: 85%;   
    color: #000000; 
}

.grid1, .grid2 {
    float:left;
    display:inline;
    height:100%;
    min-height: 500px;
    height: 100%;
}

#menuBar {
    background-color: #183540;
    height: 45px;
    width: 100%;
}

#reportTitle {
    font-size:26px;
    font-weight:bold;
    width:65%;
    display:inline;
    float:left;
}

#widget {
    float: right;
    display: inline;
}

#widgetWrapper {
    width: 35%;
    float: left;
    display: inline;
}

#titleArea {
    padding: 10px;
    background: #eee;
}

.clear {
    clear:both;
}

#chartArea {
padding:10px;
}

#radio {
    width: 5%;
    display:inline;
    float:left;
    z-index: 1500;
    position:relative;
    left:20px;
    top:108px;
}

#chart_div {
    width: 70%;
    height: 350px;    
    display:inline;
    float:left;
}

.boxArea {
    width: 19.9%;
    display:inline;
    float:left;
    border-bottom: 1px solid #ccc;
    border-right: 1px dotted #ccc;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
    background: #eee;
}

.infoTitle {
    overflow: auto;
    padding-bottom:5px; 
    font-weight: bold;
}

#tableContent {
    width: 70%;
    float:left;
}

#tableChart {
    width: 29.9%;
    float:left;
    border-left: 1px dotted #ccc;
}

.reportMenuParentItem {
    font-weight: bold;
    font-size: 16 em;
}

li {
    margin-left: 0;
    cursor: pointer;
}

li.innerLi {
    margin-left: 25px;
    margin-top: 5px;       
}

.collapsibleList {
    padding-left: 20px;
}

.reportMenuItemSelected {
    background: #2d5361;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding:5px;
}

.tblRow {
    padding: 10px;
}

.tblHead {
    font-weight: bold;
    background: #183540;
    color: #fff;
}

.tblHead td {
    padding:10px 0 10px 3px;
}

.tb {
    margin-top: 20px;
}

 table tr.tblRow td {
      padding: 5px;
      border: solid 1px #e8eef4;
   }

 .styled-select select {
   background: transparent;
   width: 90%;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   color: #fff;
   font-family: Calibri;
   margin-bottom: 20px;
   margin-top:6px;
   margin-left:5px;
}