.bodyText {
   width: 550px;
   margin-top: 15px;
   margin-right: auto;
   margin-left: auto;
   font-size: 2em;
   font-weight: normal;
   display: block;
   text-align: center;
   margin-top:100px;
   font-family: Arial, Helvetica, sans-serif;
}

.page {
background-color: #183540;
color: white;
}

#leftColumn {
    background-color: #183540;
    min-width: 145px;
    overflow: auto;
    width: 15%;
}

#rightColumn {
    background: #ffffff;
    width: 85%;   
    color: #000000; 
}

.grid1, .grid2 {
    float:left;
    display:inline;
    height:100%;
    min-height: 500px;
    height: 100%;
}

#menuBar {
    background-color: #183540;
    height: 45px;
    width: 100%;
}

#reportTitle {
    font-size:26px;
    font-weight:bold;
    width:65%;
    display:inline;
    float:left;
}

#widget {
    width: 35%;
    float: left;
    display: inline;
}

#titleArea {
    padding: 10px;
    background: #eee;
}

.clear {
    clear:both;
}

#chartArea {
padding:10px;
}

#radio {
    width: 5%;
    display:inline;
    float:left;
    z-index: 1500;
    position:relative;
    left:20px;
    top:108px;
}

#chart_div {
    width: 70%;
    height: 350px;    
    display:inline;
    float:left;
}

.boxArea {
    width: 19.5%;
    display:inline;
    float:left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
}

.infoTitle {
    overflow: auto;
    padding-bottom:5px; 
    font-weight: bold;
}

#tableContent {
    width: 70%;
    float:left;
}

#tableChart {
    width: 30%;
    float:left;
}

