.bodyText {
   width: 550px;
   margin-top: 15px;
   margin-right: auto;
   margin-left: auto;
   font-size: 2em;
   font-weight: normal;
   display: block;
   text-align: center;
   margin-top:100px;
   font-family: Arial, Helvetica, sans-serif;
}

.page {
/*background-color: #183540;
color: white;*/
}

#rightColumn {      
    /*background: #a0b2bb;*/
    background: #f5f8fa;;
}

#changePasswordContainer .editor-field{
   width:  220px;
   min-width: 220px;
   margin: 0px;
}

#changePasswordContainer .settingsEntry {
   margin: 0;
   font-size: 15px;
   line-height: 1.3em;
}

#changePasswordContainer p {
   margin-bottom: 0px !important;
}

#changePasswordContainer {
   padding: 20px 0px 0px 20px;
   display: inline-block;
}

#changePasswordContainer .newPasswordAreaLabel {
   
}
#changePasswordContainer .newPasswordAreaPassw{
   
}

#newPasswordAreaLabelStart {
 margin-top: 44px !important;        
}

#changePasswordContainer fieldset {
   padding: 5px 20px 5px 0px;
}

#changePasswordContainer span {
   line-height:  1.3em;
}

.btnSaveChanges {
   width:  220px;
   min-width: 220px;
   margin: 7px 0px 0px 0px;
    border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   line-height: 22px;
   background-color: #92C841;   
   border-width: 1px;
   border-color: #92C841;
   color: white;
   font-weight: bold;
   font-size: 16px;
   cursor: pointer; 
}
/*DA disabled style*/
.btnSaveChanges:disabled {
   color: GrayText;
}

.btnSaveChanges:hover {

}

.alignRight {
     float:right;
}

.alignLeft {
   float:left;
}

#changePasswordSucceededContainer {
   margin-top: 44px;
   margin-left: 22px;
   font-size: 16px;
}

#workingPointsConfig {
   border-width: 1px !important;
   border-spacing: 5px !important;
   border-collapse: separate;
   padding: 5px;   
}

#workingPointsConfig td{
   padding-right: 10px;
   vertical-align:top;
}

#wpConfigLegend {
   width: auto !important;
   /*margin: 40px 0px 10px 40px;*/
   margin: 10px 0px 10px 20px
}

#wpConfigErrors {   
   width: 500px !important;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;  
   line-height: 22px;
   padding: 3px 3px 0px 5px;
}

#wpSaveResult {
   width: 500px !important;
   margin-left: auto;
   margin-right: auto;
   background-color: whiteSmoke;
   line-height: 33px;
   border-radius: 5px;   
   text-align: center;
}

 .limitedColWidth {
    width: 100px;
 }

 .billedSettings {
    
 }

 .settingsEntry {
    margin: 17px 0px 17px 20px;
 }
 .settingsEntry label {
    font-weight: bold;    
    
 }

 .settingsField {
    margin: 7px 0px 7px 0px;
    width: 80%;
 }

 .settingsSeparator {
    border: 1px solid #BBB;
    background-color:#183540;    
 }

 .billedSettings h2 {
    padding: 0 0 5px 20px;
    color: white;
 }
 .billedSettings h3 {
    padding: 0 0 5px 10px;
 }

 .contactDetails
 {
    border: 1px solid grey;
 }

 #slider-range-max {
    width: 80%;    
 }


 #wpSelectionListContainer {
    overflow: auto;
    overflow-x: hidden;
    display: block;   
    margin: 20px 0px 0px 15px;
    height: 595px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #D6DEE3;
    background-image: linear-gradient(top, rgb(214,222,227) 26%, rgb(216,222,227) 65%);
    background-image: -o-linear-gradient(top, rgb(214,222,227) 26%, rgb(216,222,227) 65%);
    background-image: -moz-linear-gradient(top, rgb(214,222,227) 26%, rgb(216,222,227) 65%);
    background-image: -webkit-linear-gradient(top, rgb(214,222,227) 26%, rgb(216,222,227) 65%);
    background-image: -ms-linear-gradient(top, rgb(214,222,227) 26%, rgb(216,222,227) 65%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.26, rgb(214,222,227)), color-stop(0.65, rgb(216,222,227)) );
 }

 #wpSelectionList {
   
 }

 .wpInfo {
    display: block;
   position: relative;
   width: 100%;
   height: 45px;
   border-width: 0 0 1px 0;
   border-style: none;
   overflow: hidden;
   height: 45px;
   max-height: 45px;
   min-height: 45px;
   padding: 14px 0 14px 13px;
   border-bottom: 3px solid #FFF;
   opacity: 1;
   background-color: #cfdfe3;
 }

 #wpSelectionList .ui-selecting {
    background: #eaeff1;
    -webkit-box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
    -moz-box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
    box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
}

#wpSelectionList .ui-selected {
    background: #103749; /* Old browsers */
   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwMzc0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzI2MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top,  #103749 0%, #0c2639 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#103749), color-stop(100%,#0c2639)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #103749 0%,#0c2639 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #103749 0%,#0c2639 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #103749 0%,#0c2639 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #103749 0%,#0c2639 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103749', endColorstr='#0c2639',GradientType=0 ); /* IE6-8 */
    color: black;
    -webkit-box-shadow: inset 0px 0px 0px rgba(111, 164, 179,0.0);
    -moz-box-shadow: inset 0px 0px 0px rgba(111, 164, 179,0.0);
    box-shadow: inset 0px 0px 0px rgba(111, 164, 179,0.0);
    color: white;
}


.wpInfo:hover {
    opacity: 1;
    /*Glow*/
    -webkit-box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
    -moz-box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
    box-shadow: inset 0px 0px 40px rgba(111, 164, 179,0.8);
}

.contentSeparator {
   border: 0 !important;
}

#wpInfoDetails {
   border: 1px solid #BBB;
   padding-left: 12px;
}
#wpInfoDetailsLegend {
   width: auto !important;
   padding: 0px 5px 0px 5px !important;
}

#wpInfoDetails .editor-label {
   margin: 10px 0px 0px 0px;
}

.settingsTextarea160 {
   font-family: 'Source Sans Pro', sans-serif;
   background-color: rgba(255, 255, 255, 0.8);
   border-color: rgba(0, 0, 0, 0.27);
   color: #000;
}
.settingsTextarea160:hover {
   background-color: rgba(255, 255, 255, 0.87);
   border-color: rgba(0, 0, 0, 0.44);
   color: #000;
}
.settingsTextarea160:focus, .settingsTextarea160:active {
   background-color: #FFF;
   border-color: rgba(0, 0, 0, 0.6);
   color: #000;
}

.dataCell {
   vertical-align: top;
}

.container_12 .grid_11
   {
      width: 84.3%;
   }
