.bodyText {
   width: 550px;
   margin-top: 15px;
   margin-right: auto;
   margin-left: auto;
   font-size: 2em;
   font-weight: normal;
   display: block;
   text-align: center;
   margin-top:100px;
   font-family: Arial, Helvetica, sans-serif;
}

.page {
/*background-color: #183540;
color: white;*/
}

#rightColumn {
    border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   margin-top:8px;
   width: 84.3%;
}

#changePasswordContainer .editor-field{
   width:  220px;
   min-width: 220px;
   margin: 0px;
}

#changePasswordContainer .settingsEntry {
   margin: 0;
   font-size: 15px;
   line-height: 1.3em;
}

#changePasswordContainer p {
   margin-bottom: 0px !important;
}

#changePasswordContainer {
   padding: 20px 0px 0px 20px;
   display: inline-block;
}

#changePasswordContainer .newPasswordAreaLabel {
   
}
#changePasswordContainer .newPasswordAreaPassw{
   
}

#newPasswordAreaLabelStart {
 margin-top: 44px !important;        
}

#changePasswordContainer fieldset {
   padding: 5px 20px 5px 0px;
}

#changePasswordContainer span {
   line-height:  1.3em;
}

.btnSaveChanges {
   width:  220px;
   min-width: 220px;
   margin: 7px 0px 0px 0px;
    border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   line-height: 22px;
   background-color: #92C841;   
   border-width: 1px;
   border-color: #92C841;
   color: white;
   font-weight: bold;
   font-size: 16px;
   cursor: pointer;
}

#changePasswordSucceededContainer {
   margin-top: 44px;
   margin-left: 22px;
   font-size: 16px;
}

#workingPointsConfig {
   border-width: 1px !important;
   border-spacing: 5px !important;
   border-collapse: separate;
   padding: 5px;   
}

#workingPointsConfig td{
   padding-right: 10px;
}

#btnSaveWorkingPoints {
   float: right;
}

#wpConfigLegend {
   width: auto !important;
   margin: 40px 0px 10px 40px;
}

#wpConfigErrors {   
   width: 500px !important;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;  
   line-height: 22px;
   padding: 3px 3px 0px 5px;
}

#wpSaveResult {
   width: 500px !important;
   margin-left: auto;
   margin-right: auto;
   background-color: whiteSmoke;
   line-height: 33px;
   border-radius: 5px;   
   text-align: center;
}

 .limitedColWidth {
    width: 100px;
 }

 .billedSettings {
    
 }

 .settingsEntry {
    margin: 7px 0px 7px 10px;
 }

 .settingsField {
    margin: 7px 0px 7px 20px;
    width: 80%;
 }

 .settingsSeparator {
    border: 1px solid #BBB;
 }