<html>
	<head>
      <style type="text/css">
         div {
            font-family: Verdana, Arial, Sans-Serif;
            font-size: 15px;
         }

         #mail-message {
            padding: 10px;
         }

         #mail-footer {
            padding: 10px;
         }
      </style>
	</head>
	<body>
       <div id="mail-message">  
		   @RenderBody()
       </div>
       <br />
       <div style="max-width: 400px; border-top: 1px solid black" id="mail-footer">             
          <img style="margin-top: 4px; height: 90px; max-height: 90px" src="@Url.Abs(Url.Content("~/Content/images/logo1.png"))"/>
       
       <br />       
    </div>
	</body>
</html>